version: '2'

services:
  zabbix-appliance:
    # image: zabbix/zabbix-appliance:centos-3.4-latest
    build: ./build_zabbix
    user: root
    mem_limit: 2048m
    ulimits:
      nproc: 65535
      nofile:
        soft: 20000
        hard: 40000
    ports:
      - "10051:10051"
      - "20080:80"
      - "20443:443"
    environment:
      - LANG=zh_CN.utf8
      - LC_ALL=zh_CN.utf8
      - PHP_TZ=Asia/Shanghai
      # - ZBX_LISTENIP=                # Zabbix 监听IP，默认监听0.0.0.0
      - ZBX_LOADMODULE=                # Zabbix 可加载的模块列表，用逗号分隔
      - ZBX_SERVER_NAME=Zabbix_appliance  # 右上角显示的 Server 名称
      - ZBX_UPLOADMAXFILESIZE= 20M     # PHP 上传文件大小限制
      - ZBX_MEMORYLIMIT=512M           # PHP 内存限制

    volumes:
      # - /data/zabbix/conf:/etc/zabbix
      - /data/zabbix/zabbix_sricpts:/usr/lib/zabbix
      - /data/zabbix/zabbix_certs:/var/lib/zabbix
      - /data/zabbix/nginx_ssl:/etc/ssl/nginx

    # Zabbix 初始账号密码为  Admin zabbix